@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --font-poppins: 'Poppins', sans-serif;/*for headings*/
    --font-weight-poppins-600: 600;/*for headings*/

    --font-open-sans: 'Open Sans', sans-serif;/*for body*/
    --font-weight-open-sans-400: 400;/*for body*/
    --font-weight-open-sans-700: 700;/*for body*/

    --color-primary: hsl(322, 100%, 66%);

    --color-neutral-very-pale-cyan: hsl(193, 100%, 96%);
    --color-neutral-very-dark-cyan: hsl(192, 100%, 9%);
    --color-neutral-grayish-blue: hsl(208, 11%, 55%);
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--font-poppins);
    font-weight: var(--font-weight-poppins-600);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.8rem;
    font-family: var(--font-poppins);
    font-weight: var(--font-weight-poppins-400);
    color: var(--color-neutral-very-dark-cyan);
    line-height: 1.5;
}

header {
    background-image: url(../images/bg-hero-desktop.svg);
    background-color: var(--color-neutral-very-pale-cyan);
    display: flex;
    flex-direction: column;
   
    padding:  4.2rem 6.4rem 4.2rem 6.4rem;
}
.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5.2rem;
    height:2.4rem;

}
.header-top img {
    height:2.4rem;
}

.header-btn-top {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.4rem;
    border: none;
    background-color: white;
    padding:  2.4rem 6.4rem;
    border-radius: 24px;
    font-weight: 600;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
}

.header-btn-top a {
    text-decoration: none;

}
.header-bottom {
    display: grid;
    grid-template-columns: 40fr 60fr;
    align-items: center;
    justify-content: space-between;
    
    gap: 6.4rem;
}

.header-title{
    

}

.header-bottom img {
    width: 100%;
}

.header-btn-bottom {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.4rem;
    border: none;
    background-color: var(--color-primary);
    color: white;
    padding:  2.4rem 6.4rem;
    border-radius: 24px;
    font-weight: 600;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
}

.header-btn-bottom a {
    text-decoration: none;
    color: white;
    opacity: 0.8;

}